* {
    margin: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: #007EA7;
    height: 550px;
    width: 100%;
}

h1 {
    text-align: center;
    padding: 18%;
    font-size: 50px;
    color: #CCDBDC;
}

.menu {
    background-color: #80CED7;
    height: 88px;
    width: 100%;
}

li {
    display: inline;
    padding: 0 140px;
    font-size: 18px;
    color: #007EA7;
}

ul {
    padding: 35px;
}

a {
    text-decoration: none;
}

.content {
    height: 578px;
    background-color: #CCDBDC;
    padding: 30px 80px;
}

#about p {
    width: 65%;
    text-align: justify;
    display: inline-flex;
}

#foto-perfil {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    float: right;
    margin-top: -120px;
}

h2, h3 {
    line-height: 70px;
}